**JOIN**

In [8]:
Insert into EmployeeDemographics VALUES
(1011, 'Ryan', 'Howard', 26, 'Male'),
(NULL, 'Holly', 'Flax', NULL, NULL),
(1013, 'Darryl', 'Philbin', NULL, 'Male')

In [9]:
SELECT *
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

In [18]:
INSERT INTO EmployeeSalary VALUES
(1010, NULL, 47000),
(NULL, 'Salesman', 43000)

In [19]:
SELECT *
FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
NULL,Salesman,43000

In [20]:
SELECT *
FROM EmployeeDemographics
INNER JOIN EmployeeSalary 
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

In [21]:
SELECT *
FROM EmployeeDemographics
LEFT JOIN EmployeeSalary 
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
UNION
SELECT * 
FROM EmployeeDemographics
RIGHT JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
/* 
in ms sql server the syntax is simply outer join,
no need of use of union 
*/

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000
1011,Ryan,Howard,26,Male,NULL,NULL,NULL
NULL,Holly,Flax,NULL,NULL,NULL,NULL,NULL
1013,Darryl,Philbin,NULL,Male,NULL,NULL,NULL
NULL,NULL,NULL,NULL,NULL,1010,NULL,47000
NULL,NULL,NULL,NULL,NULL,NULL,Salesman,43000

In [17]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, JobTitle, Salary
FROM EmployeeDemographics
INNER JOIN EmployeeSalary 
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,JobTitle,Salary
1001,Jim,Halpert,Salesman,45000
1002,Pam,Beasley,Receptionist,36000
1003,Dwight,Schrute,Salesman,63000
1004,Angela,Martin,Accountant,47000
1005,Toby,Flenderson,HR,50000
1006,Michael,Scott,Regional Manager,65000
1007,Meredith,Palmer,Supplier Relations,41000
1008,Stanley,Hudson,Salesman,48000
1009,Kevin,Malone,Accountant,42000

In [23]:
SELECT EmployeeDemographics.EmployeeID, FirstName, LastName, Salary
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
WHERE FirstName <> 'Michael'
ORDER BY Salary DESC

EmployeeID,FirstName,LastName,Salary
1003,Dwight,Schrute,63000
1005,Toby,Flenderson,50000
1008,Stanley,Hudson,48000
1004,Angela,Martin,47000
1001,Jim,Halpert,45000
1009,Kevin,Malone,42000
1007,Meredith,Palmer,41000
1002,Pam,Beasley,36000

In [24]:
SELECT *
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halpert,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

In [27]:
SELECT JobTitle, AVG(Salary)
FROM EmployeeDemographics
INNER JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
WHERE JobTitle LIKE 'Sales%'
GROUP by JobTitle

JobTitle,AVG(Salary)
Salesman,52000.0000

**UNION**

In [28]:
Create Table WareHouseEmployeeDemographics 
(EmployeeID int, 
FirstName varchar(50), 
LastName varchar(50), 
Age int, 
Gender varchar(50)
)

In [29]:
Insert into WareHouseEmployeeDemographics VALUES
(1013, 'Darryl', 'Philbin', NULL, 'Male'),
(1050, 'Roy', 'Anderson', 31, 'Male'),
(1051, 'Hidetoshi', 'Hasagawa', 40, 'Male'),
(1052, 'Val', 'Johnson', 31, 'Female')

In [31]:
SELECT * 
FROM EmployeeDemographics;

SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male

EmployeeID,FirstName,LastName,Age,Gender
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [32]:
SELECT * 
FROM EmployeeDemographics
UNION
SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

In [33]:
SELECT * 
FROM EmployeeDemographics
UNION ALL -- show duplicates
SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
NULL,Holly,Flax,NULL,NULL
1013,Darryl,Philbin,NULL,Male
1013,Darryl,Philbin,NULL,Male
1050,Roy,Anderson,31,Male
1051,Hidetoshi,Hasagawa,40,Male
1052,Val,Johnson,31,Female

**CASE**

In [37]:
SELECT FirstName, LastName, Age,
CASE
    WHEN Age = 26 THEN 'Troll'
    WHEN Age > 30 THEN 'Old'
    ELSE 'Young'
END
FROM EmployeeDemographics
WHERE Age is NOT NULL
ORDER by Age

FirstName,LastName,Age,CASE WHEN Age = 26 THEN 'Troll' WHEN Age > 30 THEN 'Old' ELSE 'Young' END
Ryan,Howard,26,Troll
Dwight,Schrute,29,Young
Jim,Halpert,30,Young
Pam,Beasley,30,Young
Angela,Martin,31,Old
Kevin,Malone,31,Old
Toby,Flenderson,32,Old
Meredith,Palmer,32,Old
Michael,Scott,35,Old
Stanley,Hudson,38,Old

In [38]:
SELECT FirstName, LastName, JobTitle, Salary, -- ',' before CASE
CASE
    WHEN JobTitle LIKE 'Sales%' THEN Salary * 1.1
    WHEN JobTitle LIKE 'Accoun%' THEN Salary * 1.05
    WHEN JobTitle = 'HR' THEN Salary * 1.000001
    ELSE Salary * 1.03
END AS SalaryAfterRaise
FROM EmployeeDemographics
JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID

FirstName,LastName,JobTitle,Salary,SalaryAfterRaise
Jim,Halpert,Salesman,45000,49500.0
Pam,Beasley,Receptionist,36000,37080.00
Dwight,Schrute,Salesman,63000,69300.0
Angela,Martin,Accountant,47000,49350.00
Toby,Flenderson,HR,50000,50000.050000
Michael,Scott,Regional Manager,65000,66950.00
Meredith,Palmer,Supplier Relations,41000,42230.00
Stanley,Hudson,Salesman,48000,52800.0
Kevin,Malone,Accountant,42000,44100.00

**HAVING CLAUSE**

In [47]:
SELECT JobTitle, COUNT(JobTitle)
FROM EmployeeDemographics
JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING COUNT(JobTitle) > 1

JobTitle,COUNT(JobTitle)
Salesman,3
Accountant,2

In [51]:
SELECT JobTitle, AVG(Salary), COUNT(JobTitle)
FROM EmployeeDemographics
JOIN EmployeeSalary
    ON EmployeeDemographics.EmployeeID = EmployeeSalary.EmployeeID
GROUP BY JobTitle
HAVING AVG(Salary) > 45000
ORDER BY AVG(Salary)

JobTitle,AVG(Salary),COUNT(JobTitle)
HR,50000.0000,1
Salesman,52000.0000,3
Regional Manager,65000.0000,1

**UPDATE AND DELETE**

In [54]:
UPDATE EmployeeDemographics
SET EmployeeID = 1012, Age = 31, Gender = 'Female'
WHERE FirstName = 'Holly' AND LastName = 'Flax'

In [55]:
SELECT * FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

In [56]:
DELETE FROM EmployeeDemographics
WHERE EmployeeID = 1005
/* 
first use select to confirm what you want to delete
then proceed with delete 
*/

In [57]:
SELECT * FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,31,Female
1013,Darryl,Philbin,NULL,Male

**ALIASING**

In [67]:
SELECT CONCAT(FirstName, ' ', LastName) AS FullName -- simply use FirstName + ' ' + LastName in ms sql server
FROM EmployeeDemographics

FullName
Jim Halpert
Pam Beasley
Dwight Schrute
Angela Martin
Michael Scott
Meredith Palmer
Stanley Hudson
Kevin Malone
Ryan Howard
Holly Flax
Darryl Philbin

In [68]:
SELECT AVG(Age) AS AvgAge -- 'AS' is always optional
FROM EmployeeDemographics

AvgAge
31.3000

In [69]:
SELECT Demo.EmployeeID, Sal.Salary
FROM EmployeeDemographics AS Demo -- table aliasing
JOIN EmployeeSalary AS Sal 
    ON Demo.EmployeeID = Sal.EmployeeID

EmployeeID,Salary
1001,45000
1002,36000
1003,63000
1004,47000
1006,65000
1007,41000
1008,48000
1009,42000

**PARTITION BY**

In [77]:
SELECT FirstName, LastName, Gender, Salary, COUNT(Gender) -- GROUP BY doesn't work
FROM EmployeeDemographics Demo 
JOIN EmployeeSalary Sal 
    ON Demo.EmployeeID = Sal.EmployeeID
GROUP by FirstName, LastName, Gender, Salary, Gender

FirstName,LastName,Gender,Salary,COUNT(Gender)
Jim,Halpert,Male,45000,1
Pam,Beasley,Female,36000,1
Dwight,Schrute,Male,63000,1
Angela,Martin,Female,47000,1
Michael,Scott,Male,65000,1
Meredith,Palmer,Female,41000,1
Stanley,Hudson,Male,48000,1
Kevin,Malone,Male,42000,1

In [76]:
SELECT FirstName, LastName, Gender, Salary, 
COUNT(Gender) OVER (PARTITION BY Gender) as TotalGender -- PARTITION BY
FROM EmployeeDemographics Demo
JOIN EmployeeSalary Sal 
    ON Demo.EmployeeID = Sal.EmployeeID

FirstName,LastName,Gender,Salary,TotalGender
Pam,Beasley,Female,36000,3
Angela,Martin,Female,47000,3
Meredith,Palmer,Female,41000,3
Jim,Halpert,Male,45000,5
Dwight,Schrute,Male,63000,5
Michael,Scott,Male,65000,5
Stanley,Hudson,Male,48000,5
Kevin,Malone,Male,42000,5