**CTE (Common Table Expression)**

In [79]:
USE tutorial

In [43]:
WITH CTE_Employee AS
(SELECT FirstName, LastName, Gender, Salary
, COUNT(Gender) OVER (PARTITION BY Gender) TotalGender
, AVG(Salary) OVER (PARTITION BY Gender) AvgSalary
FROM EmployeeDemographics Demo
join EmployeeSalary Sal
    ON Demo.EmployeeID = Sal.EmployeeID
WHERE Salary > '45000'
)
SELECT * -- have to be right after the cte statement
FROM CTE_Employee

FirstName,LastName,Gender,Salary,TotalGender,AvgSalary
Angela,Martin,Female,47000,1,47000.0000
Dwight,Schrute,Male,63000,3,58666.6667
Michael,Scott,Male,65000,3,58666.6667
Stanley,Hudson,Male,48000,3,58666.6667

**TEMP TABLES**

In [44]:
CREATE TEMPORARY TABLE temp_Employee ( -- in ms sql server, its like create table #temp_Employee...
    EmployeeID int,
    JobTitle varchar(100),
    Salary int
);

In [45]:
SELECT * FROM temp_Employee

In [46]:
INSERT INTO temp_Employee -- copying the table
SELECT * 
FROM EmployeeSalary

In [65]:
DROP TABLE IF EXISTS temp_Employee2 -- make sure that new temp table does exist already

In [66]:
CREATE TEMPORARY TABLE temp_Employee2 (
    JobTitle VARCHAR(50),
    EmployeePerJob int,
    AvgAge int,
    AvgSalary int
)

In [67]:
INSERT INTO temp_Employee2
SELECT JobTitle, COUNT(JobTitle), AVG(Age), Avg(Salary)
FROM EmployeeDemographics Demo
JOIN EmployeeSalary Sal 
    ON Demo.EmployeeID = Sal.EmployeeID
GROUP BY JobTitle

In [68]:
SELECT * FROM temp_Employee2

JobTitle,EmployeePerJob,AvgAge,AvgSalary
Salesman,3,32,52000
Receptionist,1,30,36000
Accountant,2,31,44500
Regional Manager,1,35,65000
Supplier Relations,1,32,41000

STRING FN

In [51]:
/*

Today's Topic: String Functions - TRIM, LTRIM, RTRIM, Replace, Substring, Upper, Lower

*/
CREATE TABLE EmployeeErrors (
EmployeeID varchar(50)
,FirstName varchar(50)
,LastName varchar(50)
)

In [52]:
Insert into EmployeeErrors Values 
('1001  ', 'Jimbo', 'Halbert')
,('  1002', 'Pamela', 'Beasely')
,('1005', 'TOby', 'Flenderson - Fired')

: 1050 (42S01): Table 'employeeerrors' already exists

In [24]:
Select *
From EmployeeErrors

EmployeeID,FirstName,LastName
1001,Jimbo,Halbert
1002,Pamela,Beasely
1005,TOby,Flenderson - Fired

In [25]:
-- TRIM, LTRIM, RTRIM
SELECT EmployeeID, TRIM(EmployeeID) IDTRIM -- TRIM both sides, LeftTRIM, RightTRIM
FROM EmployeeErrors

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

In [27]:
-- Replace
Select LastName, REPLACE(LastName, '- Fired', '') LastNameFixed
From EmployeeErrors

LastName,LastNameFixed
Halbert,Halbert
Beasely,Beasely
Flenderson - Fired,Flenderson

In [28]:
-- Substring
SELECT SUBSTRING(FirstName, 1, 3)
FROM EmployeeErrors

"SUBSTRING(FirstName, 1, 3)"
Jim
Pam
TOb

In [29]:
-- Fuzzy matching
Select Substring(err.FirstName,1,3), Substring(dem.FirstName,1,3), Substring(err.LastName,1,3), Substring(dem.LastName,1,3)
FROM EmployeeErrors err
JOIN EmployeeDemographics dem
	on Substring(err.FirstName,1,3) = Substring(dem.FirstName,1,3)
	and Substring(err.LastName,1,3) = Substring(dem.LastName,1,3)

"Substring(err.FirstName,1,3)","Substring(dem.FirstName,1,3)","Substring(err.LastName,1,3)","Substring(dem.LastName,1,3)"
Jim,Jim,Hal,Hal
Pam,Pam,Bea,Bea

In [31]:
-- Lowercase
Select FirstName, LOWER(firstname)
from EmployeeErrors

FirstName,LOWER(firstname)
Jimbo,jimbo
Pamela,pamela
TOby,toby

In [32]:
-- uppercase
Select Firstname, UPPER(FirstName)
from EmployeeErrors

Firstname,UPPER(FirstName)
Jimbo,JIMBO
Pamela,PAMELA
TOby,TOBY

**STORED PROCEDURES**

In [59]:
CREATE PROCEDURE TEST() -- mysql syntax
BEGIN
    SELECT * FROM EmployeeDemographics;
END;

: 1304 (42000): PROCEDURE TEST already exists

In [57]:
CREATE PROCEDURE TEST -- ms sql server syntax; dont run this cell with mysql
AS
SELECT * 
FROM EmployeeDemographics;

: 1046 (3D000): No database selected

In [62]:
CALL TEST -- EXEC TEST in ms sql server

: 1046 (3D000): No database selected

In [70]:
CREATE PROCEDURE Temp_Employee() -- mysql syntax
BEGIN
    CREATE TEMPORARY TABLE temp_employee (
        JobTitle VARCHAR(100),
        EmployeePerJob INT,
        AvgAge INT,
        AvgSalary INT
    );

    INSERT INTO temp_employee
    SELECT JobTitle, COUNT(JobTitle) AS EmployeePerJob, AVG(Age) AS AvgAge, AVG(Salary) AS AvgSalary
    FROM EmployeeDemographics Demo
    JOIN EmployeeSalary Sal ON Demo.EmployeeID = Sal.EmployeeID
    GROUP BY JobTitle;

    SELECT * FROM temp_employee;
END;

In [71]:
CALL Temp_Employee

JobTitle,EmployeePerJob,AvgAge,AvgSalary
Salesman,3,32,52000
Receptionist,1,30,36000
Accountant,2,31,44500
Regional Manager,1,35,65000
Supplier Relations,1,32,41000

In [74]:
ALTER PROCEDURE Temp_Employee(@JobTitle VARCHAR(100)) -- sql server syntax; don't run this cell
AS
CREATE TABLE #temp_employee (
    JobTitle VARCHAR(100),
    EmployeePerJob INT,
    AvgAge INT,
    AvgSalary INT
)

INSERT INTO #temp_employee
SELECT JobTitle, COUNT(JobTitle) AS EmployeePerJob, AVG(Age) AS AvgAge, AVG(Salary) AS AvgSalary
FROM EmployeeDemographics Demo
JOIN EmployeeSalary Sal 
    ON Demo.EmployeeID = Sal.EmployeeID
WHERE JobTitle = @JobTitle
GROUP BY JobTitle

SELECT * FROM #temp_employee

: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(In JobTitle VARCHAR(100))
BEGIN
    CREATE TEMPORARY TABLE temp_employee (
    ' at line 1

In [ ]:
EXEC Temp_Employee @JobTitle = 'Salesman' -- sql server syntax

In [75]:
-- Drop the existing procedure if it exists
DROP PROCEDURE IF EXISTS Temp_Employee2; -- there is no alter procedure in mysql.

-- Recreate the procedure with the updated logic
CREATE PROCEDURE Temp_Employee2(IN JobTitle VARCHAR(100))
BEGIN
    -- Your updated logic goes here
    CREATE TEMPORARY TABLE temp_employee (
        JobTitle VARCHAR(100),
        EmployeePerJob INT,
        AvgAge INT,
        AvgSalary INT
    );

    INSERT INTO temp_employee
    SELECT JobTitle, COUNT(JobTitle) AS EmployeePerJob, AVG(Age) AS AvgAge, AVG(Salary) AS AvgSalary
    FROM EmployeeDemographics Demo
    JOIN EmployeeSalary Sal 
        ON Demo.EmployeeID = Sal.EmployeeID
    WHERE JobTitle = JobTitle
    GROUP BY JobTitle;

    SELECT * FROM temp_employee;
END

In [77]:
CALL Temp_Employee2('Salesman')

JobTitle,EmployeePerJob,AvgAge,AvgSalary
Salesman,8,32,48375

**SUBQUERIES**

In [80]:
SELECT * 
FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,NULL,47000
NULL,Salesman,43000

In [83]:
SELECT EmployeeID, Salary, (SELECT AVG(Salary) FROM EmployeeSalary) AllAvgSalary
FROM EmployeeSalary

EmployeeID,Salary,AllAvgSalary
1001,45000,47909.0909
1002,36000,47909.0909
1003,63000,47909.0909
1004,47000,47909.0909
1005,50000,47909.0909
1006,65000,47909.0909
1007,41000,47909.0909
1008,48000,47909.0909
1009,42000,47909.0909
1010,47000,47909.0909
NULL,43000,47909.0909

In [84]:
SELECT EmployeeID, Salary, AVG(Salary) OVER() AllAvgSalary -- over() partition by everything
FROM EmployeeSalary

EmployeeID,Salary,AllAvgSalary
1001,45000,47909.0909
1002,36000,47909.0909
1003,63000,47909.0909
1004,47000,47909.0909
1005,50000,47909.0909
1006,65000,47909.0909
1007,41000,47909.0909
1008,48000,47909.0909
1009,42000,47909.0909
1010,47000,47909.0909
NULL,43000,47909.0909

In [87]:
SELECT * 
FROM (SELECT EmployeeID, Salary, AVG(Salary) OVER() AllAvgSalary
    FROM EmployeeSalary) a -- aliasing is not needed in sql server

EmployeeID,Salary,AllAvgSalary
1001,45000,47909.0909
1002,36000,47909.0909
1003,63000,47909.0909
1004,47000,47909.0909
1005,50000,47909.0909
1006,65000,47909.0909
1007,41000,47909.0909
1008,48000,47909.0909
1009,42000,47909.0909
1010,47000,47909.0909
NULL,43000,47909.0909

In [88]:
SELECT a.EmployeeID
FROM (SELECT EmployeeID, Salary, AVG(Salary) OVER() AllAvgSalary
    FROM EmployeeSalary) a

EmployeeID
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
NULL

In [89]:
SELECT EmployeeID, JobTitle, Salary 
FROM EmployeeSalary
WHERE EmployeeID IN (
    SELECT EmployeeID 
    FROM EmployeeDemographics
    WHERE Age > 30
)

EmployeeID,JobTitle,Salary
1004,Accountant,47000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000