In [2]:
USE tutorial

In [8]:
Create Table EmployeeDemographics 
(EmployeeID int, 
FirstName varchar(50), 
LastName varchar(50), 
Age int, 
Gender varchar(50)
)

In [9]:
Create Table EmployeeSalary 
(EmployeeID int, 
JobTitle varchar(50), 
Salary int
)

In [10]:
Insert into EmployeeDemographics VALUES
(1001, 'Jim', 'Halpert', 30, 'Male'),
(1002, 'Pam', 'Beasley', 30, 'Female'),
(1003, 'Dwight', 'Schrute', 29, 'Male'),
(1004, 'Angela', 'Martin', 31, 'Female'),
(1005, 'Toby', 'Flenderson', 32, 'Male'),
(1006, 'Michael', 'Scott', 35, 'Male'),
(1007, 'Meredith', 'Palmer', 32, 'Female'),
(1008, 'Stanley', 'Hudson', 38, 'Male'),
(1009, 'Kevin', 'Malone', 31, 'Male')

In [11]:
Insert Into EmployeeSalary VALUES
(1001, 'Salesman', 45000),
(1002, 'Receptionist', 36000),
(1003, 'Salesman', 63000),
(1004, 'Accountant', 47000),
(1005, 'HR', 50000),
(1006, 'Regional Manager', 65000),
(1007, 'Supplier Relations', 41000),
(1008, 'Salesman', 48000),
(1009, 'Accountant', 42000)

In [17]:
SELECT * FROM EmployeeDemographics LIMIT 5;

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male

In [18]:
SELECT DISTINCT(Gender) FROM EmployeeDemographics

Gender
Male
Female

In [20]:
SELECT COUNT(LastName) AS LastNameCount FROM EmployeeDemographics

LastNameCount
9

In [22]:
SELECT AVG(Salary)
FROM EmployeeSalary

AVG(Salary)
48555.5556

In [24]:
SELECT * FROM tutorial.EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [31]:
SELECT *
FROM EmployeeDemographics
WHERE FirstName <> 'Jim' AND Age <> 31

EmployeeID,FirstName,LastName,Age,Gender
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male

In [30]:
SELECT *
FROM EmployeeDemographics
WHERE Age >= 30 OR Gender = 'Male'

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [38]:
SELECT *
FROM EmployeeDemographics
WHERE LastName LIKE '%S%n%'

EmployeeID,FirstName,LastName,Age,Gender
1005,Toby,Flenderson,32,Male
1008,Stanley,Hudson,38,Male

In [39]:
SELECT *
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [40]:
SELECT *
FROM EmployeeDemographics
WHERE FirstName IS NOT NULL

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [43]:
SELECT *
FROM EmployeeDemographics
WHERE FirstName IN ('Jim', 'Michael')

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halpert,30,Male
1006,Michael,Scott,35,Male

In [49]:
SELECT Gender, COUNT(Gender)
FROM EmployeeDemographics
GROUP BY Gender

Gender,COUNT(Gender)
Male,6
Female,3

In [50]:
SELECT Gender, Age, COUNT(Gender)
FROM EmployeeDemographics
GROUP BY Gender, Age

Gender,Age,COUNT(Gender)
Male,30,1
Female,30,1
Male,29,1
Female,31,1
Male,32,1
Male,35,1
Female,32,1
Male,38,1
Male,31,1

In [52]:
SELECT Gender, COUNT(Gender) AS GenderCount
FROM EmployeeDemographics
WHERE Age > 31
GROUP BY Gender
ORDER BY GenderCount DESC -- ascend as defualt

Gender,GenderCount
Male,3
Female,1

In [56]:
SELECT *
FROM EmployeeDemographics
ORDER BY Age DESC, Gender DESC -- or 4 desc, 5 desc

EmployeeID,FirstName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male
1006,Michael,Scott,35,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1001,Jim,Halpert,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male